### Scientific Computing with Python: Getting familiar with ```numpy```, ```scipy``` and ```scikit-learn``` for data analysis.

#### Exercise 1: Load and view a Toy Dataset using Python libraries.

Find an appropriate tabular dataset from the examples which come stock with either <a href="https://github.com/mwaskom/seaborn-data">seaborn</a> or <a href="https://scikit-learn.org/1.5/datasets/toy_dataset.html">scikit-learn</a>. From the documentation, determine how to load the data. Finally, store the data in a ```pandas.DataFrame``` and view it using ```df.head()```.

In [54]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

# load the data
ds = load_iris()

data = ds['data']
# one-hot encode
targets = pd.get_dummies(ds['target'])

df = pd.DataFrame(
    data = np.hstack((data, targets)),
    columns=np.hstack((ds['feature_names'], ds['target_names'])),
)

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
2,4.7,3.2,1.3,0.2,1.0,0.0,0.0
3,4.6,3.1,1.5,0.2,1.0,0.0,0.0
4,5.0,3.6,1.4,0.2,1.0,0.0,0.0

#### Exercise 2: Summarize your data statistics and perform a significance test.

Use either ```numpy```, ```scipy``` or ```pandas``` to statistically summarize the classes in your data by computing the mean and standard deviation. Do it for all features, if there is more than one. Summarize the results in a ```pd.DataFrame```.

In [86]:
means = []
stds = []
for i in range(targets.shape[1]):
    means += [df[targets.values[:,i]].mean()]
    stds += [df[targets.values[:,i]].std()]

summary = pd.DataFrame(means + stds)

display(summary)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),setosa,versicolor,virginica
0,5.006000,3.428000,1.462000,0.246000,1.0,0.0,0.0
1,5.936000,2.770000,4.260000,1.326000,0.0,1.0,0.0
2,6.588000,2.974000,5.552000,2.026000,0.0,0.0,1.0
3,0.352490,0.379064,0.173664,0.105386,0.0,0.0,0.0
4,0.516171,0.313798,0.469911,0.197753,0.0,0.0,0.0
5,0.635880,0.322497,0.551895,0.274650,0.0,0.0,0.0